<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

    <form id="loginForm">

        <label>Enter your email:</label>
        <input type="email" id="email" required>

        <label>Enter your password:</label>
        <input type="password" id="password" required>

        <button type="submit">Login</button>

    </form>

    <br>

    <a href="signup">New User - Sign Up</a>

    <p id="message" style="color:red;"></p>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../login.js"></script>

</body>
</html>